@import "partials/variables";

//header
header {
  a {
    color: $blue-color;
  }
  border-bottom: solid $blue-color;
}

.container {
  padding-left: 10em;
}

.navigation--breadcrumbs {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
    li {
      display: inline;
      a {
        color: $grey-color;
      }
    }
  }
}

.template__layout {
  display: flex;

  .-primary {
    padding-right: 5em;
    h1 {
      color: $orange-color;
    }
  };

  .-region-secondary {
    width: 75em;
  }
}
