@import url(../webfonts.css);
@import url(../webfonts.css);
.container {
  padding-left: 11%;
  font-family: 'glacial_indifference--regular';
  color: #2e3135; }

a {
  text-decoration: none; }

header {
  border-bottom: solid #2b3487; }
  header h1 {
    background-image: url(./logo@2x.png);
    background-size: 100%;
    margin: 0.8rem 0 0.8rem 0;
    height: 3.5rem;
    width: 15rem; }
  header a {
    display: none; }

.navigation--breadcrumbs {
  padding-top: 0.5rem; }
  .navigation--breadcrumbs ul {
    list-style-type: none;
    padding: 0; }
    .navigation--breadcrumbs ul li {
      font-family: 'glacial_indifference--regular';
      color: #bdbfc1;
      display: inline; }
      .navigation--breadcrumbs ul li:after {
        font-size: 0.4rem;
        content: '\00a0/\00a0'; }
      .navigation--breadcrumbs ul li a {
        text-transform: uppercase;
        font-size: 0.5rem;
        color: #bdbfc1; }
      .navigation--breadcrumbs ul li:last-child:after {
        content: none; }

.template__layout {
  display: flex; }
  .template__layout .-primary {
    padding-right: 5%; }
    .template__layout .-primary h2, .template__layout .-primary h3, .template__layout .-primary h4, .template__layout .-primary h5 {
      font-family: 'glacial_indifference--bold'; }
    .template__layout .-primary h1 {
      font-family: glacial_indifference--regular;
      font-weight: normal;
      color: #f45c42;
      border-bottom: solid thin #eff0f2;
      margin-top: .4rem;
      padding-bottom: .55em;
      font-size: 2.6em; }
    .template__layout .-primary h2 {
      font-size: 1.6rem;
      letter-spacing: 0.05rem;
      color: #2b3487; }
    .template__layout .-primary h3 {
      font-size: 1.3rem; }
    .template__layout .-primary h4 {
      color: #f45c42; }
    .template__layout .-primary h5 {
      text-transform: uppercase;
      letter-spacing: 1.5px; }
    .template__layout .-primary blockquote {
      padding: 1rem 3% 1rem 3%;
      margin: 1.5rem 0 1.5rem 0;
      background-color: #f2ddd2; }
      .template__layout .-primary blockquote p {
        line-height: 1.85rem;
        font-size: 18px; }
    .template__layout .-primary p {
      line-height: 1.5em;
      font-size: 0.9rem; }
    .template__layout .-primary .intro {
      color: #bdbfc1;
      font-size: 1rem; }
    .template__layout .-primary li {
      line-height: 2em; }
      .template__layout .-primary li a {
        font-size: 0.9rem;
        color: #299954;
        text-decoration: none; }
    .template__layout .-primary hr {
      margin: 2.2rem 0 2.2rem 0;
      border: 0;
      border-top: 1px solid #eff0f2; }
  .template__layout .-region-secondary {
    padding-top: 2rem;
    padding-right: 11%; }
    .template__layout .-region-secondary h3 {
      font-weight: normal; }
    .template__layout .-region-secondary .card {
      background-color: #eff0f2;
      border-top: solid #f45c42;
      padding: 0 1rem 0 1rem;
      margin-bottom: 1rem;
      width: 12.5rem; }
      .template__layout .-region-secondary .card .event-list__item .event-list__item__meta {
        padding-bottom: 0.2rem; }
      .template__layout .-region-secondary .card .event-list__item:before {
        position: relative;
        content: url(../../images/icons/calendar--orange.svg);
        float: left;
        padding-top: 0.25rem;
        padding-right: .5rem; }
      .template__layout .-region-secondary .card .event-list__item .event-list__item__meta__date {
        font-family: 'glacial_indifference--bold';
        font-size: 0.85rem; }
      .template__layout .-region-secondary .card .event-list__item .event-list__item__meta__time {
        font-size: 0.85rem; }
      .template__layout .-region-secondary .card .event-list__item .event-list__item__title a {
        font-size: 0.9rem;
        color: #299954;
        text-decoration: none; }
      .template__layout .-region-secondary .card .event-list__item p {
        margin: 0 0 0 1.4rem;
        padding-bottom: 1.4rem;
        line-height: 1.3rem; }
      .template__layout .-region-secondary .card .contacts-list .contacts-list__item {
        border-bottom: solid thin #bdbfc1;
        padding-bottom: 0.8rem; }
        .template__layout .-region-secondary .card .contacts-list .contacts-list__item .contacts-list__item__detail {
          padding-bottom: 0.5em;
          font-size: 0.85rem; }
        .template__layout .-region-secondary .card .contacts-list .contacts-list__item .contacts-list__item__detail--thumbnail {
          float: left;
          padding-right: 0.7rem;
          width: 4em;
          height: 4em; }
          .template__layout .-region-secondary .card .contacts-list .contacts-list__item .contacts-list__item__detail--thumbnail img {
            height: 100%;
            width: 100%;
            border-radius: 50%; }
        .template__layout .-region-secondary .card .contacts-list .contacts-list__item .contacts-list__item__detail--name {
          font-family: 'glacial_indifference--bold'; }
        .template__layout .-region-secondary .card .contacts-list .contacts-list__item .contacts-list__item__detail--handle {
          color: #00aced; }
          .template__layout .-region-secondary .card .contacts-list .contacts-list__item .contacts-list__item__detail--handle:before {
            font-family: 'FontAwesome';
            content: '\f099'; }
          .template__layout .-region-secondary .card .contacts-list .contacts-list__item .contacts-list__item__detail--handle a {
            color: #00aced; }
        .template__layout .-region-secondary .card .contacts-list .contacts-list__item .contacts-list__item__detail--email:before {
          font-family: 'FontAwesome';
          content: '\f0e0'; }
        .template__layout .-region-secondary .card .contacts-list .contacts-list__item .contacts-list__item__detail--email a {
          color: black; }
        .template__layout .-region-secondary .card .contacts-list .contacts-list__item:last-child {
          border-bottom: none; }
        .template__layout .-region-secondary .card .contacts-list .contacts-list__item:not(:first-child) {
          padding-top: 1em; }

footer {
  background-color: #2b3487;
  margin-top: 2.5rem;
  color: white; }
  footer .container {
    padding-bottom: 2rem;
    justify-content: space-between;
    color: white; }
    footer .container nav {
      padding-top: 1.5rem;
      padding-right: 11%; }
      footer .container nav ul {
        float: right;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
        background-color: #4c5599;
        list-style-type: none; }
        footer .container nav ul li {
          border-right: solid thin white;
          padding: 0.1rem 0.5rem 0.1rem 0.5rem;
          display: inline; }
          footer .container nav ul li a {
            color: white; }
          footer .container nav ul li:last-child {
            border-right: none; }

@media only screen and (max-width: 760px) {
  .container {
    padding-left: 1em;
    padding-right: 1em; }

  .template__layout .-primary {
    padding-right: 1em; }

  .template__layout {
    flex-direction: column; }
    .template__layout .-region-secondary {
      width: 100%;
      padding-right: 0;
      padding-bottom: 2em;
      display: flex;
      justify-content: space-around; }
      .template__layout .-region-secondary .card {
        width: 180px; }

  footer .container {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    footer .container nav {
      justify-content: center;
      padding: 0;
      display: flex; }
    footer .container p {
      text-align: center;
      justify-content: center; } }
@media only screen and (max-width: 460px) {
  .-region-secondary {
    display: flex;
    flex-direction: column;
    vertical-align: center;
    justify-content: center;
    width: 400px;
    padding: 0; }
    .-region-secondary .card {
      background-color: blue;
      justify-content: center;
      padding-left: 100px; } }

/*# sourceMappingURL=site.css.map */
