@import url(../webfonts.css);
a {
  text-decoration: none; }

.container {
  padding-left: 7em;
  font-family: 'glacial_indifference--regular'; }

header {
  background-size: 100%;
  border-bottom: solid #2b3487; }
  header h1 {
    height: 70px;
    width: 300px;
    background-image: url(./logo@2x.png);
    background-size: 100%; }
  header a {
    height: 10%;
    padding-bottom: 50px;
    padding-right: 10px;
    padding-right: 400px;
    display: none; }

.navigation--breadcrumbs {
  padding-top: 3%; }
  .navigation--breadcrumbs ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline; }
    .navigation--breadcrumbs ul li {
      color: #bdbfc1;
      display: inline; }
      .navigation--breadcrumbs ul li:after {
        content: '\00a0/\00a0'; }
      .navigation--breadcrumbs ul li a {
        text-transform: uppercase;
        font-size: 10px;
        color: #bdbfc1; }
      .navigation--breadcrumbs ul li:last-child:after {
        content: none; }

.template__layout {
  display: flex; }
  .template__layout .-primary {
    padding-right: 5em; }
    .template__layout .-primary h2, .template__layout .-primary h3, .template__layout .-primary h4, .template__layout .-primary h5 {
      font-family: 'glacial_indifference--bold'; }
    .template__layout .-primary h1 {
      font-family: glacial_indifference--regular;
      color: #e5681b;
      border-bottom: solid thin #eff0f2;
      padding-bottom: .8em; }
    .template__layout .-primary h2 {
      color: #2b3487; }
    .template__layout .-primary .intro {
      color: #bdbfc1;
      font-size: 110%; }
    .template__layout .-primary p {
      line-height: 1.5em; }
    .template__layout .-primary li a {
      color: #299954;
      text-decoration: none; }
    .template__layout .-primary h4 {
      color: #e5681b; }
    .template__layout .-primary blockquote {
      padding: 1.5em 1em 1.5em 1em;
      background-color: #f2ddd2; }
      .template__layout .-primary blockquote p {
        line-height: 2em; }
  .template__layout .-region-secondary {
    padding-top: 2em;
    width: 300px;
    padding-right: 7.5em; }
    .template__layout .-region-secondary h3 {
      font-weight: normal; }
    .template__layout .-region-secondary .event-list__item:before {
      position: relative;
      content: url(../../images/icons/calendar--orange.svg);
      float: left;
      padding-right: .5em; }
    .template__layout .-region-secondary .event-list__item .event-list__item__meta__date {
      font-family: 'glacial_indifference--bold'; }
    .template__layout .-region-secondary .event-list__item .event-list__item__title a {
      color: #299954;
      text-decoration: none; }
    .template__layout .-region-secondary .event-list__item p {
      margin-left: 1.4em;
      margin-top: 0; }
    .template__layout .-region-secondary .card {
      background-color: #eff0f2;
      border-top: solid #e5681b;
      padding-left: 1em;
      padding-right: 1em;
      width: 200px; }
      .template__layout .-region-secondary .card .contacts-list .contacts-list__item {
        padding-top: 1em;
        border-bottom: solid thin #bdbfc1;
        padding-bottom: 1em; }
        .template__layout .-region-secondary .card .contacts-list .contacts-list__item .contacts-list__item__detail--thumbnail {
          float: left;
          padding-right: 1em;
          padding-bottom: 0.75em;
          width: 4em;
          height: 4em; }
        .template__layout .-region-secondary .card .contacts-list .contacts-list__item .contacts-list__item__detail--name {
          font-family: 'glacial_indifference--bold'; }
        .template__layout .-region-secondary .card .contacts-list .contacts-list__item .contacts-list__item__detail--handle {
          color: #00aced; }
          .template__layout .-region-secondary .card .contacts-list .contacts-list__item .contacts-list__item__detail--handle:before {
            font-family: 'FontAwesome';
            content: '\f099'; }
          .template__layout .-region-secondary .card .contacts-list .contacts-list__item .contacts-list__item__detail--handle a {
            color: #00aced; }
        .template__layout .-region-secondary .card .contacts-list .contacts-list__item .contacts-list__item__detail--email:before {
          font-family: 'FontAwesome';
          content: '\f0e0'; }
        .template__layout .-region-secondary .card .contacts-list .contacts-list__item .contacts-list__item__detail--email a {
          color: black; }
        .template__layout .-region-secondary .card .contacts-list .contacts-list__item img {
          height: 100%;
          width: 100%;
          border-radius: 50%; }
        .template__layout .-region-secondary .card .contacts-list .contacts-list__item:last-child {
          border-bottom: none; }

footer {
  background-color: #2b3487;
  color: white; }
  footer .container {
    padding-top: 2.5em;
    padding-bottom: 2.5em;
    justify-content: space-between; }
    footer .container nav {
      padding-top: 1.5em;
      padding-right: 7.5em; }
      footer .container nav ul {
        float: right;
        padding: 0.5em 0.5em 0.5em 0.5em;
        background-color: #4c5599;
        list-style-type: none;
        display: inline; }
        footer .container nav ul li {
          border-right: solid thin white;
          padding-left: 0.5em;
          padding-right: 0.5em;
          display: inline;
          padding-top: 0.1em;
          padding-bottom: 0.1em; }
          footer .container nav ul li a {
            color: white; }
          footer .container nav ul li:last-child {
            border-right: none; }

@media only screen and (max-width: 600px) {
  .container {
    padding-left: 1em;
    padding-right: 1em; }

  .template__layout .-primary {
    padding-right: 1em; }

  .template__layout {
    flex-direction: column; }
    .template__layout .-region-secondary {
      padding-bottom: 2em;
      justify-content: space-around;
      display: flex-end;
      flex-direction: column;
      width: 20em; }

  footer .container {
    display: flex;
    flex-direction: column; }
    footer .container ul {
      justify-content: center;
      float: none;
      text-align: center; }
    footer .container p {
      justify-content: center; } }

/*# sourceMappingURL=site.css.map */
