@import "partials/variables";
@import "partials/mixins";
@import "../webfonts.css";

a {
  text-decoration: none;
}

.container {
  padding-left: $container-padding-left;
  font-family: 'glacial_indifference--regular';
  color: $black;
}

//header
header {
  h1 {
    margin-top: .8rem;
    margin-bottom: .8rem;
    height: 3.5rem;
    width: 15rem;
    background-image: url(./logo@2x.png);
    background-size: 100%;
  }
  a {
    display: none;
  }
  border-bottom: solid $blue-color;
}

.navigation--breadcrumbs {
  padding-top: 0.5rem;
  ul {
    list-style-type: none;
    padding: 0;
    li {
      &:after {
        font-size: 0.4rem;
        content: '\00a0/\00a0';
      }
      font-family: 'glacial_indifference--regular';
      color: $grey-color;
      display: inline;
      a {
        text-transform: uppercase;
        font-size: 0.5rem;
        color: $grey-color;
      }
      &:last-child:after{
        content: none;
      }
    }
  }
}

.template__layout {
  display: flex;

  .-primary {
    padding-right: 5em;
    h2,h3,h4,h5 {
      font-family: 'glacial_indifference--bold';
    }
    h2 {
      font-size: 1.6rem;
      letter-spacing: 0.05rem;
    }
    h3 {
      font-size: 1.3rem;
    }
    h1 {
      margin-top: .4rem;
      font-family: glacial_indifference--regular;
      font-weight: normal;
      color: $orange-color;
      border-bottom: solid thin $grey-light-color;
      padding-bottom: .55em;
      font-size: 2.6em;
    }
    h5 {
      text-transform: uppercase;
      letter-spacing: 1.5px;
    }
    h2 {
      color: $blue-color;
    }
    p {
      line-height: 1.5em;
      font-size: 0.9rem;
    }
    .intro {
      color: $grey-color;
      font-size: 1rem;
    }
    li {
      line-height: 2em;
      @include green-anchor();
    }
    h4 {
      color: $orange-color;
    }
    hr {
      color: $grey-light-color;
    }
    blockquote {
      padding: 1.5em 1em 1.5em 1em;
      margin-left: 0;
      margin-right: 0;
      background-color: $salmon-color;
      p {
        line-height: 2em;
        font-size: 18px;
      }
    };
  };

  .-region-secondary {
    h3 {
      font-weight: normal;
    }
    padding-top: 2em;
    width: 300px;
    padding-right: 11%;
    .event-list__item {
      .event-list__item__meta {
        padding-bottom: 0.2bem;
      }
      &:before {
        position: relative;
        content: url(../../images/icons/calendar--orange.svg);
        // left: -1em;
        float: left;
        padding-top: 0.25em;
        padding-right: .5em;
        // clear: right;
      }
      .event-list__item__meta__date {
        font-family: 'glacial_indifference--bold';
        font-size: $event-date-time-font-size;
      }
      .event-list__item__meta__time {
        font-size: $event-date-time-font-size;
      }
      .event-list__item__title {
        @include green-anchor();
      }
      p {
        margin-left: 1.4em;
        margin-top: 0;
        line-height: 1.5em;
      }
    }
    .card {
      background-color: $grey-light-color;
      border-top: solid $orange-color;
      padding-left: 1em;
      padding-right: 1em;
      width: 200px;
      .contacts-list {
        .contacts-list__item {
          border-bottom: solid thin $grey-color;
          padding-bottom: 1.2em;
          .contacts-list__item__detail {
            padding-bottom: 0.5em;
            font-size: $contact-font-size;
          }
          .contacts-list__item__detail--thumbnail {
            float:left;
            padding-right: 0.5em;
            padding-bottom: 0.75em;
            width: 4em;
            height: 4em;
          }
          .contacts-list__item__detail--name {
            // font-size: 1rem;
            font-family: 'glacial_indifference--bold';
          }
          .contacts-list__item__detail--handle {
            color: $twitter-blue;
            &:before {
              font-family: 'FontAwesome';
              content: '\f099';
            }
            a {
              color: $twitter-blue;
            }
          }
          .contacts-list__item__detail--email {
            &:before {
              font-family: 'FontAwesome';
              content: '\f0e0';
            }
            a {
              color: black;
            }
          }
          img {
            height: $image-size;
            width: $image-size;
            border-radius: 50%;
          }
          &:last-child{
            border-bottom: none;
          }
          &:not(:first-child) {
            padding-top: 1em;
          }
        }
      }
    }
  }
}

footer {
  background-color: $blue-color;
  color: white;
  .container {
    padding-top: 2.5em;
    padding-bottom: 2.5em;
    justify-content: space-between;
    color: white;
    nav {
      padding-top: 1.5em;
      padding-right: 7.5em;
      ul {
        float:right;
        padding: 0.5em 0.5em 0.5em 0.5em;
        background-color: $blue-light-color;
        list-style-type: none;
        display: inline;
        li {
          border-right: solid thin white;
          padding-left: 0.5em;
          padding-right: 0.5em;
          display: inline;
          padding-top: 0.1em;
          padding-bottom: 0.1em;
          a {
            color: white;
          }
          &:last-child {
            border-right: none;
          }
        }
      }
    }
  }
}

// Screens below 800px and above 600px
// @include medium-screens {
//   .container {
//     padding-left: 2em;
//   }
//   .template-layout {
//     .-region-secondary {
//       padding-right: 0;
//     }
//   }

//   blockquote {
//     margin-left: 0.5em;
//     margin-right: 0.5em;
//   }
// }

//Screens below 600px
@include medium-screens {
  .container {
    padding-left: $horizontal-padding-small-screens;
    padding-right: $horizontal-padding-small-screens;
  }
  .template__layout {
    .-primary {
      padding-right: 1em;
    }

  }
  .template__layout {
    flex-direction: column;
    .-region-secondary {
      width: 100%;
      padding-right: 0;
      padding-bottom: 2em;
      display:flex;
      justify-content: space-around;
      // flex-direction: ;
      .card {
        width: 180px;
      }
    }
  }
  footer {
    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      nav {
        justify-content: center;
        padding: 0;
        display: flex;
        // ul {
        //   justify-content: center;
        // }
      }
      p {
        text-align: center;
        justify-content: center;
      }

    }
  }
}

@include small-screens {
  .-region-secondary {
    .card {
      background-color: blue;
      padding-left: 0;
    }
    float: right;
    width: 400px;
    padding: 0;
  }
  .contacts-list {
    display: flex;
    flex-direction: column;
      justify-content: center;
    .contacts-list__item {
      display: flex;
      flex-direction: column;
    }
  }
}


