@import "./partials/variables";
@import "./partials/mixins";
@import "../webfonts.css";

.container {
  padding-left: $container-padding;
  font-family: 'glacial_indifference--regular';
  color: $black;
}

//Take out underlining for anchor tags
a {
  text-decoration: none;
}

//Header Styling
header {
  h1 {
    background-image: url(../images/logos/logo@2x.png);
    background-size: 100%;
    margin: 0.8rem 0 0.8rem 0;
    height: 3.5rem;
    width: 15rem;
  }
  a {
    display: none;
  }
  border-bottom: solid $blue-color;
}

//Navbar Styling
.navigation--breadcrumbs {
  padding-top: 0.5rem;
  ul {
    list-style-type: none;
    padding: 0;
    li {
      &:after {
        font-size: 0.4rem;
        content: '\00a0/\00a0';
      }
      font-family: 'glacial_indifference--regular';
      color: $grey-color;
      display: inline;
      a {
        text-transform: uppercase;
        font-size: 0.5rem;
        color: $grey-color;
      }
      &:last-child:after{
        content: none;
      }
    }
  }
}

//Main body of site
.template__layout {
  display: flex;

  //Left/primary section
  .-primary {
    padding-right: 5%;
    h2,h3,h4,h5 {
      font-family: 'glacial_indifference--bold';
    }
    h1 {
      font-family: glacial_indifference--regular;
      font-weight: normal;
      color: $orange-color;
      border-bottom: solid thin $grey-light-color;
      margin-top: .4rem;
      padding-bottom: .55em;
      font-size: 2.6em;
    }
    h2 {
      font-size: 1.6rem;
      letter-spacing: 0.05rem;
      color: $blue-color;
    }
    h3 {
      font-size: 1.3rem;
    }
    h4 {
      color: $orange-color;
    }
    h5 {
      text-transform: uppercase;
      letter-spacing: 1.5px;
    }
    blockquote {
      padding: 1rem 3% 1rem 3%;
      margin: 1.5rem 0 1.5rem 0;
      background-color: $salmon-color;
      p {
        line-height: 1.85rem;
        font-size: 18px;
      };
    };
    p {
      line-height: 1.5em;
      font-size: 0.9rem;
    }
    .intro {
      color: $grey-color;
      font-size: 1rem;
    }
    li {
      line-height: 2em;
      @include green-anchor();
    }
    hr {
      margin: 2.2rem 0 2.2rem 0;
      border: 0;
      border-top: 1px solid $grey-light-color;
    };
  };


  //Sidebar content
  .-region-secondary {
    h3 {
      font-weight: normal;
    }
    padding-top: 2rem;
    padding-right: $container-padding;
    .card {
      background-color: $grey-light-color;
      border-top: solid $orange-color;
      padding: 0 1rem 0 1rem;
      margin-bottom: 1rem;
      width: 12.5rem;

      //Upcoming Events
      .event-list__item {
        .event-list__item__meta {
          padding-bottom: 0.2rem;
        }
        &:before {
          position: relative;
          content: url(../images/icons/calendar--orange.svg);
          float: left;
          padding-top: 0.25rem;
          padding-right: .5rem;
        }
        .event-list__item__meta__date {
          font-family: 'glacial_indifference--bold';
          font-size: $event-date-time-font-size;
        }
        .event-list__item__meta__time {
          font-size: $event-date-time-font-size;
        }
        .event-list__item__title {
          @include green-anchor();
        }
        p {
          margin: 0 0 0 1.4rem;
          padding-bottom: 1.4rem;
          line-height: 1.3rem;
        }
      }

      //Contact List
      .contacts-list {
        .contacts-list__item {
          border-bottom: solid thin $grey-color;
          padding-bottom: 0.8rem;
          .contacts-list__item__detail {
            padding-bottom: 0.5em;
            font-size: $contact-font-size;
          }
          .contacts-list__item__detail--thumbnail {
            float:left;
            padding-right: 0.7rem;
            width: $image-height-width;
            height: $image-height-width;
            img {
              height: $image-size;
              width: $image-size;
              border-radius: 50%;
            }
          }
          .contacts-list__item__detail--name {
            font-family: 'glacial_indifference--bold';
          }
          .contacts-list__item__detail--handle {
            color: $twitter-blue;
            &:before {
              font-family: 'FontAwesome';
              content: '\f099';
            }
            a {
              color: $twitter-blue;
            }
          }
          .contacts-list__item__detail--email {
            &:before {
              font-family: 'FontAwesome';
              content: '\f0e0';
            }
            a {
              color: black;
            }
          }
          &:last-child {
            border-bottom: none;
          }
          &:not(:first-child) {
            padding-top: 1em;
          }
        }
      }
    }
  }
}

//Footer styling
footer {
  background-color: $blue-color;
  margin-top: 2.5rem;
  color: white;
  font-size: 0.9rem;
  .container {
    padding-bottom: 2rem;
    justify-content: space-between;
    color: white;
    nav {
      padding-top: 1.5rem;
      padding-right: $container-padding;
      ul {
        float: right;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
        background-color: $blue-light-color;
        list-style-type: none;
        li {
          border-right: solid thin white;
          padding: 0.1rem 0.5rem 0.1rem 0.5rem;
          display: inline;
          a {
            color: white;
          }
          &:last-child {
            border-right: none;
          }
        }
      }
    }
  }
}

//Media queries for responsive design
@import "./partials/mediaQueries";

