@include medium-screens {
  .container {
    padding-left: $horizontal-padding-small-screens;
    padding-right: $horizontal-padding-small-screens;
  }
  .template__layout {
    .-primary {
      padding-right: 1em;
    }

  }
  .template__layout {
    flex-direction: column;
    .-region-secondary {
      width: 100%;
      padding-right: 0;
      padding-bottom: 2em;
      display:flex;
      justify-content: space-around;
      // flex-direction: ;
      .card {
        width: 180px;
      }
    }
  }
  footer {
    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-bottom: 0.5rem;
      nav {
        margin-top: 1rem;
        justify-content: center;
        padding: 0;
        display: flex;
        // ul {
        //   justify-content: center;
        // }
      }
      p {
        text-align: center;
        justify-content: center;
      }
    }
  }
}

@include small-screens {
  .-region-secondary {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 0;
  }

}
