//Screens below 760px
@include medium-screens {
  .container {
    padding-left: $horizontal-padding-small-screens;
    padding-right: $horizontal-padding-small-screens;
  }
  .template__layout {
    .-primary {
      padding-right: 1em;
    }

  }
  .template__layout {
    flex-direction: column;
    .-region-secondary {
      padding-right: 0;
      display: flex;
      justify-content: space-around;
    }
  }
  footer {
    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-bottom: 0.5em;
      nav {
        margin-top: 1em;
        justify-content: center;
        padding: 0;
        display: flex;
      }
      p {
        text-align: center;
      }
    }
  }
}

//Screens below 460px
@include small-screens {
  .-region-secondary {
    display: flex;
    flex-direction: column;
    align-items: center;
    .card {

    }
  }
}
