@mixin small-screens() {
  @media only screen and (max-width: 460px) {
    @content;
  };
};

@mixin medium-screens() {
  @media only screen and (max-width: 760px) {
    @content;
  }
}

@mixin green-anchor() {
  a {
    font-size: 0.9rem;
    color: $green-color;
    text-decoration: none;
  }
}