$blue-color: #2b3487;
$grey-color: #bdbfc1;
$grey-light-color: #eff0f2;
$orange-color: #f45c42;
$salmon-color: #f2ddd2;
$blue-light-color: #4c5599;
$green-color: #299954;
$twitter-blue: #00aced;
$black: #2e3135;

//margins
$container-padding-left: 11%;

$image-size: 95%;

$horizontal-padding-small-screens: 1em;

$event-date-time-font-size: 0.85rem;
$contact-font-size: 0.85rem;
