$blue-color: #2b3487;
$grey-color: #bdbfc1;
$grey-light-color: #eff0f2;
$orange-color: #e5681b;
$salmon-color: #f2ddd2;
$blue-light-color: #4b56c1;
$green-color: #299954;
$twitter-blue: #00aced;

//margins
$container-padding-left: 7em;