//Colors
$blue-color: #2b3487;
$grey-dark-color: #9ca0a8;
$grey-medium-color: #dee0e5;
$grey-light-color: #f4f5f7;
$orange-color: #f45c42;
$salmon-color: #f2ddd2;
$blue-light-color: #4c5599;
$green-color: #299954;
$twitter-blue-color: #00aced;
$black-color: #2e3135;

//Font sizes
$event-date-time-font-size: 0.85rem;
$contact-font-size: 0.85rem;
$main-body-font-size: 1.2rem;

//Margins/padding/borders
$container-padding: 11%;
$horizontal-padding-small-screens: 1em;

//Thumbnail size
$image-size: 100%;
$image-height-width: 4em;



